<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\Statics\styles\Pokemon.css">
    <title>Batallas Pokémon</title>
</head>
<body>
    <header>
        <h1>Batallas Pokémon</h1>
    </header>
    <main>
        <section id="Batalla">
        </section>
        <section id="Opciones">
            <article id="Elegir_entrenador">Elegir entrenadores</article>
            <article id="Comenzar">Comenzar Batalla</article>
            <article id="Descripcion">Descripción pokemones</article>
        </section>
        <section id="Op-batalla">
            <input type="text" id="mov-pel1" placeholder="Movimientos entrenador 1" disabled>
            <br><br>
            <input type="text" id="mov-pel2" placeholder="Movimientos entrenador 2" disabled>
        </section>
    </main>
    <script src="..\Dynamics\js\Pokemon.js"></script>
</body>
</html>